@import url("https://fonts.googleapis.com/css?family=Raleway:500");
/* body {
  background: #ffecd9;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center;
  padding: 1rem;
} */

button.donateButton {
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #ff5722 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #ff5722 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 12rem;
}

button.donateButton:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#gallery-btn:hover {
  background: black;
}

#gallery-btn {
  width: 12rem;
  height: 4rem;
  background-color: #ff5722;
  border-style: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border-radius: 6px;
  letter-spacing: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
